vendor
/wp
/wp-config.php

/content/languages

node_modules/

/content/debug.log

/content/uploads
/content/upgrade
/content/debug.log
/content/themes/twentySeventeen

/content/plugins/*

/content/themes/gedem/assets/images
/content/themes/gedem/assets/fonts


