# On active le module Apache de réécriture d'URL
RewriteEngine on
# On applique la réécriture uniquement pour les URLs qui ne contiennent pas /wp
RewriteCond %{REQUEST_URI} !^wp/
# On exclue, de la réécriture, les fichiers existants physiquement sur le serveur
RewriteCond %{REQUEST_FILENAME} !-f
# On exclue, de la réécriture, les repertoires existants physiquement sur le serveur
RewriteCond %{REQUEST_FILENAME} !-d
# On redirige tout vers index.php
# Si toutes les RewriteCond ci-dessus sont vérifiées, on applique la règle de réécriture
RewriteRule ^(.*)$ index.php/$1


# BEGIN WordPress
# Les directives (lignes) entre « BEGIN WordPress » et « END WordPress » sont générées
# dynamiquement, et doivent être modifiées uniquement via les filtres WordPress.
# Toute modification des directives situées entre ces marqueurs sera surchargée.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /GEDEM-77/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /GEDEM-77/index.php [L]
</IfModule>

# END WordPress