@import '../abstracts/mixins';
@import '../abstracts/variable';

.all_articles{
    @include flex-el(flex, space-around, row, center, wrap);
    padding: 50px 0
}


.filter_form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    select{
        padding: 5px;
        color: $main-color-blue;
        border: 2px solid grey;
        border-radius: 4px;
        margin: 0 10px;
    }

    .submit{
        background-color: white;
        padding: 6px 15px;
        border-radius: 5px;
        border: 2px solid $main-color-blue;
        color: $main-color-blue;
        transition: 0.5s;

        &:hover{
            color: white;
            background-color: $main-color-blue;
            transition: 0.5s;
        }
    }
}
  

.items-list {
    max-width: 90vw;
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3rem;
    justify-content: center;
    align-content: center;
  
    @media only screen and (max-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }
}
  
  
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    margin: 3rem;
    border-radius: 0.6rem;
    box-shadow: 0 0.8rem 2rem rgba($main-color-blue, 0.05);

    .next, .prev{
        width: auto;
    }

    li{
        margin: 0 35px;
    }
  
    &__numbers{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        cursor: pointer;
    }
  
  
    &__numbers {
        width: 3rem;
        height: 2.6rem;
        border-radius: 0.4rem;
  
        &:hover {
            color: $main-color-blue;
        }
  
        &.active__page {
            color: $main-color-blue;
            background: #a8c55059;
            font-weight: 600;
            border: 1px solid var(--primary);
        }
    }
}

// Articles précédent / suivant

.site__navigation{
    @include flex-el(flex, space-between, row, center, nowrap);
    padding: 50px 0;

    .site__navigation__prev, .site__navigation__next{
        width: 50%;
        line-height: 15px;
    }

    .site__navigation__prev{
        text-align: left;
    }

    .site__navigation__next{
        text-align: right;
    }
}

