@import '../abstracts/mixins.scss';
@import '../abstracts/variable.scss';

.img_intro{
    width: 650px;
    margin: 50px auto;
    position: relative;

    svg{
        width: 75%;
        display: block;
    }

    span{
        position: absolute;
        color: $secondary-color;
        top: 90px;
        left: 210px;
        font-size: 28px;
    }

    p{
        position: absolute;
        top: 140px;
        left: 210px;
        line-height: 25px;
        font-size: 16px; 
    }

    svg{

        polyline, circle, line{
            opacity: 1;
        }

        .st3{
            stroke-dasharray: 3600px;
            stroke-dashoffset: 3600px;
            animation: anim 3s ease forwards;
        }

        @keyframes anim {
            to{
                stroke-dashoffset: 0;
            }
        }

        .st5{
            stroke-dasharray: 3600px;
            stroke-dashoffset: 3600px;
            animation: anim 10s ease forwards;
        }

        circle{
            animation: appear 1.5s ease-in forwards;
        }

        @keyframes appear {
            from{
                opacity: 0;
            }
            to{
                opacity: 1;
            }
        }
    }
}

.presidence{
    display: flex;
    align-items: center;

    .presidence_txt{
        min-width: 200px;
        max-width: 350px;
        text-align: center;
        margin: 0 auto;
        flex: 1;

        span{
            font-size: 35px;
            color: $main-color-blue;
        }

        div{
            margin: 50px;
            line-height: 30px;
        }
    }
    .presidence_img{
        min-width: 150px;
        max-width: 400px;
        padding: 25px;
        display: flex;
        align-items: center;
        background-color: #bfd1e79c;
        border-radius: 12px;
        margin: 50px auto;
        flex: 2;

        img{
            max-width: 100%;
            border-radius: 12px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.sct-vice-presidence{
    background: #F2F4F6;
    position: relative;
    z-index: 0;
    h3{
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .img_intro{
        width: 100%;
        margin: 50px auto;
        position: relative;
    
        svg{
            width: 75%;
        }
        span{
            position: absolute;
            color: $secondary-color;
            top: 25%;
            left: 30%;
            font-size: 28px;
        }
    
        p{
            position: absolute;
            top: 38%;
            left: 30%;
            line-height: 25px;
            font-size: 16px; 
        }
    }

    .presidence{
        flex-direction: column;
    }

} 

@media screen and (max-width: 575px){
    .img_intro{
        svg{
            width: 100%;
        }
        span{
            left: 38%;
            font-size: 22px;
        }
    
        p{
            left: 38%;
            top: 35%;
            font-size: 12px; 
        }
    }
}

@media screen and (max-width: 460px){
    .img_intro{
        margin: 100px auto;
        width: 100%;
        svg{
            display: none;
        }
        span{
            position: relative;
            left: 0;
            font-size: 25px;
        }
    
        p{
            position: relative;
            left: 0;
            top: 25px;
            font-size: 12px; 
        }
    }
}


