@import '../abstracts/mixins';
@import '../abstracts/variable';

.sct-single-article{
    h1{
        color: $main-color-blue;
        font-size: 30px;
        text-align: left;
        padding: 25px 0;
        position: relative;

        &:after{
            content: '';
            position: absolute;
            width: 15%;
            height: 3px;
            background-color: $secondary-color;
            bottom: 0;
            left: 0;
            transform: translate(-50% -50%);
        }
    }

    .img_article{
        width: 50%;
        margin: 100px auto 50px;

        img{
            width: 100%;
        }
    }

    .paragraphe_article{
        margin: 100px 50px;
        p{
            text-align: justify;
            line-height: 25px;
            margin: 5px 0;
        }
    }
}


@media screen and (max-width: 850px){
    .sct-single-article{

        h1{
            font-size: 25px;
        }
        .img_article{
            width: 60%;
            margin: 100px auto 50px;
        }
    }
}


@media screen and (max-width: 650px){
    .sct-single-article{

        .img_article{
            width: 80%;
            margin: 100px auto 50px;
        }
    }
}

@media screen and (max-width: 375px){
    .sct-single-article{

        .img_article{
            width: 100%;
            margin: 100px auto 50px;
        }
    }
}