@import 'pages/accueil.scss';
@import 'pages/actualites.scss';
@import 'pages/adherents.scss';
@import 'pages/gouvernance.scss';
@import 'pages/contact.scss';
@import 'pages/legales.scss';
@import 'pages/single-article';
@import 'pages/404';

@import 'components/timeline.scss';
@import 'components/to-the-top.scss';
@import 'components/arrow-down.scss';
@import 'components/cards_vice_presidence.scss';
@import 'components/button.scss';

@import 'layout/footer.scss';
@import 'layout/navbar.scss';
@import 'layout/articles.scss';

@import 'abstracts/variable.scss';
@import 'abstracts/mixins.scss';

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: $main-color-blue;
}

section{
    padding: $padding-section;
    width: 100%;
}

.first_section{
    padding-top: 200px; 
}

.title_section_unerlined{
    @include title-section($main-color-blue, $title-size, 15px 0);
}

.title_section_unerlined::after{
    @include title-section-after(125px, 3px, auto, 0, 0, 0);
}

@media only screen and (min-width: 1920px){
    section{
        padding: 200px 300px !important;
    }
}

@media only screen and (max-width: 450px){
    .title_section_unerlined{
        @include title-section($main-color-blue, 24px, 15px 0);
    }
}


// Contact-form-7 validation messages
.wpcf7-response-output {
    border-radius: 3px !important;
    background-color: transparentize( $color-white, .4) !important;
    font-weight: 500 !important;
    margin: 10px 100px !important;
    padding: 10px !important;
    text-align: center !important;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container, .tribe-events-single{
    padding-top: 150px !important;
}
   
